* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.dark {
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

header button {
    padding: 5px 10px;
}

.dark {
    background-color: #000;
    color: #fff;
}